.container {
    margin: auto;
    padding: 20px 10px 20px 10px;
    max-width: 1200px;
    min-width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.cotainer-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto
}

.header {
    width: 100%;
    background-color: var(--main-color);
    height: 100px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background-color: var(--main-color);
    height: 100px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo {
    width: 40px;
}

.description__title__icon {
    width: 50px;
}

.header__title {
    color: #fff;
    font-size: 1.8em;
}

.description {
    display: flex;
    flex-direction: column;
    height: 200px;
}

.description__title {
    background-color: var(--light-color);
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 1.8em;
    box-shadow: 0 0 25px rgba(111, 47, 211, 1);

}

.fire {
    color: var(--danger-color);
}

.description__image {
    max-height: 200px;
    object-fit: contain;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 165px;
    transition-duration: 1s
}



.information {
    background-color: var(--light-color);
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr; */
    padding-top: 50px;
    /* width: 100%; */
    box-shadow: 0 0 15px rgba(111, 47, 211, 1);

}

.information__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    font-size: 1.1em;
    text-transform: uppercase;
    /* border: 2px solid blue; */

}

.footer {
    background-color: var(--footer-color);
    height: 280px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
}

.footer__group__individual {
    width: 80px;
    height: 80px;
    background-color: var(--dark-color);
    border-radius: 8px;
}

.footer__group__individual:hover {
    background-color: var(--dark-color);
}

.footer__group__individual__image {
    height: 100%;
}

.main {
    flex: 1;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}

/*animations*/
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 25px rgba(111, 47, 211, 1);
}

.hvr-pulse-grow:hover,
.hvr-pulse-grow:focus,
.hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}





.description__container {
    height: 150px;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.information__title {
    font-weight: bold;
}

@media (min-width: 627px) {
    .description__title {
        margin-left: 60px;
    }

    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 50px;
    }

    .header {
        justify-content: start;
        padding-left: 20px;
    }

    .main {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    .description {
        margin-right: 20px;
        height: calc(100vh - 320px);
    }

    .description__container {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .description__image {
        max-height: 100%;
        max-width: 100%;
        position: relative;
        top: -50px;

    }

    .information__group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.3rem;
        /* border: 2px solid red; */
    }

    .information__title {
        font-weight: 100;
        font-size: 0.9em;
    }

    .information__description {
        font-weight: bold;
    }

    .footer {
        height: 150px;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 80px;

    }

    .footer__title {
        flex-grow: 2;
    }

    .footer__group {
        display: flex;
        flex-grow: 3;
        justify-content: space-between;
    }

}